<app-header></app-header>
<app-learn-pipe></app-learn-pipe>
<div *ngIf="screendisplay">
<h1>{{newDataInChild}}</h1>
<app-child (updateDataEvent)="newdata($event)"></app-child>

<!-- reuseable component -->
<ul *ngFor="let newuser of usersDetails">
<app-user-detail [item]="newuser"></app-user-detail>
</ul>
<!-- end of reuseable component -->

<!-- send data from parent to child -->
<app-child [item]="chilData"></app-child>
<button (click)="updateValue()">Update value</button>
<!-- end send data from parent to child -->

<app-todolist></app-todolist>
<!-- material ui -->
<!-- buttons -->
<div *ngIf="screendisplay">
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<!-- buttons -->

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<!-- material ui end -->
<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>

  <div class="container row">
      <div class="col-md-4">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="Simple">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="Disabled" [disabled]="true">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
      </div>
      <div class="col-md-4">
        
    </div>
  </div>

<app-form-create>
    
</app-form-create>
<hr>
<app-toggle-element-show-and-hide-tag>

</app-toggle-element-show-and-hide-tag>
<h1 class="color-change">AsalamuAlikum</h1>
<style>
    .color-change{
        color: blue;
    }
</style>


<h1 class="{{title}}">Hi, Angular</h1>
<h2>{{getval()}}</h2>
<h3>{{title==12}}</h3>
<app-login></app-login>

<button (click)="getName('smile')">Click Here!</button><br><br>
<button (click)="getData('button click event')">Click here for warn</button>
<br><br>
<input type="text" #keyup placeholder="keyup" (keyup)="getData(keyup.value)"/>
<br><br>
<input type="text" #keydown placeholder="keydown" (keydown)="getData(keydown.value)"/>
<br><br>
<input type="text" #blur placeholder="blur" (blur)="getData(blur.value)"/>
<br><br>

<!-- mouse event  -->
<h2 (mouseover)="getData('mouseover')">Abdul Rafay Javed</h2>
<h2 (mouseleave)="getData('mouseleave')">Software Engineer</h2>
<!-- input data display -->

<input type="text" #n   placeholder="Enter your Name" name="username"/>
<br><br>
<button (click)="getvalue(n.value)">Click Here!</button>
<p>text in input field are :: {{displayvalue}}</p>


<!-- make a counter -->
<br>
<button (click)="counter('minus')">--</button>
<br>
<p>count :: {{count}} </p>
<button (click)="counter('add')">++</button>

<!-- Property binding -->
<br><br>
<!-- interpolation -->
<input type="text" value={{namee}} disabled={{disable}}>
<!-- prooerty binding -->
<br><br>
<input type="text" [value]=namee [disabled]=disable>

<!-- if-else condition -->
<h1 *ngIf="show=='yes'; then umair else arafay">
   
</h1>


<ng-template #umair>
    <h3>Umair Ansar</h3>
</ng-template>


<ng-template #arafay>
    <p>Abdul Rafay</p>
</ng-template>


<!-- multiple if conditions -->
<ng-template [ngIf]="color==='red'">
    <h1  style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h1  style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h1  style="color: blue;">blue Color</h1>
</ng-template>


<!-- switch case statement -->
<div [ngSwitch]="shape">
        <h1 *ngSwitchCase="'circle'">Circle</h1>
        <h1 *ngSwitchCase="'square'">Square</h1>
        <h1 *ngSwitchDefault>Unknown shape</h1>
</div>


<!-- for loop  -->
<h5 *ngFor="let n of classmates">Name of the classmate is :: <b>{{n}}</b></h5>

<h5 *ngFor="let no of classmatesDetails">Name of the classmate is :: {{no.name}} / 
    Phone Number of the classmate is :: {{no.phone}} / 
    Education of the classmate is :: {{no.education}}
</h5>


<!-- nested loop -->
<ul *ngFor="let user of users">
   
<li>{{user.name}}</li>
<li>{{user.phone}}</li>
<li>{{user.education}}</li>

<ul *ngFor="let a of user.acc">
    <li>{{a}}</li>

</ul>
</ul>


<!-- dynamic style property -->
<h1 [style.color]="color" [style.backgroundColor]="bgColor">Dynamic style Property</h1>
<button (click)="updatecolor()" (click)="updateBackgroundColor()">Update Color</button>
</div>